.descriptionBlock {
    padding: 10px;

}

.imageContainer {
    position: relative;
    display: inline-block;
}

.uploadButton {
    position: absolute;

    bottom: 0;
    right: 10px;
    /*padding: 10px;*/
    /*background: rgba(0, 0, 0, 0.5);*/
    background-color: transparent;

    button {
        border-radius: 99999px;
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
    }

    img {
        width: 20px;
        height: 20px;
        border: none;
        padding: 0;
    }
}

.photos {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.contact {
    padding-left: 10px;
}

