.descriptionBlock {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    border: 1px black solid;
    /*margin-bottom: 30px;*/
    background-image: url("../../../assets/background/navbarContentBackground.jpg");
    /*flex-flow: column nowrap;*/
    /*align-items: flex-start;*/
    /*align-content: flex-start;*/
    /*width: 650px;*/
}

.imageContainer {
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    flex: 0 1 auto;
    align-self: flex-end;
}

.imageContainer:nth-child(1) {
    align-self: center;
}

.uploadButton {
    position: absolute;

    bottom: 0;
    right: 10px;
    background-color: transparent;

    button {
        border-radius: 99999px;
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
    }

    img {
        width: 20px;
        height: 20px;
        border: none;
        padding: 0;
    }
}

.photos {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.contact {
    padding-left: 10px;
}

