.header {
    grid-area: h;
    background-image: url("../../assets/background/navbarContentBackground.jpg");
    padding: 5px;
}

.header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
}

.loginBlock {
    display: flex;
    flex-direction: column;
    text-align: center;
    float: right;

    button {
        background-color: darkgrey;
        border-radius: 5px;
        color: white;
        font-size: 14px;
        padding: 2px 5px;
        box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.2);
        transition: background-color 0.3s, color 0.3s;
    }

    button:hover {
        background-color: #2980b9;
    }

    button:active {
        background-color: #1c638d;
    }
}

.loginBlock a {
    color: green;
}

