.header {
    grid-area: h;
    /*background-image: url("../../assets/background/navbarContentBackground.jpg");*/
    background-color: #202020;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;
}

.loginBlock {
    display: flex;
    flex-direction: row;
    text-align: center;
    float: right;
    gap: 10px;

    button {
        background-color: darkgrey;
        border-radius: 5px;
        color: white;
        font-size: 14px;
        padding: 2px 5px;
        box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.2);
        transition: background-color 0.3s, color 0.3s;
    }

    button:hover {
        background-color: #2980b9;
    }

    button:active {
        background-color: #1c638d;
    }
}

.loginBlock a {
    color: green;
}

