.nav {
    grid-area: n;
    /*background-image: url("../../assets/background/navbarContentBackground.jpg");*/
    background-color: black;
    padding-top: 10px;
}

.item a{
    color: darkgrey;
    text-decoration: none;
}

.item a:active,
.item a:focus {
    color: white;
}