ul li {
    list-style-type: initial;
}

body {
    /*background-image: linear-gradient(45deg, #efefef 25%, rgba(239, 239, 239, 0) 25%, rgba(239, 239, 239, 0) 75%, #efefef 75%, #efefef);*/
    background-color: black; /* Сероватый оттенок фона */
    /*background-image: linear-gradient(to bottom, #f2f2f2, #dcdcdc); !* Градиентный фон для эффекта глубины *!*/
    background-repeat: no-repeat; /* Отключение повторения фонового изображения */
    /*background-image: url("./assets/background/background.jpg");;*/
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color: white;
}

.app-wrapper {
    max-width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
"h h"
"n c";
    grid-template-rows: 40px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/

}

.app-wrapper-content {

    grid-area: c;
    /*background-color: cyan;*/
}


