@import "src/styles/_colors.scss";

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: $color-dark-700;
    margin-top: -3px;
}

.dialogsItems .dialog {
    padding: 10px;
    color:white;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}